@model IEnumerable<Asp.netCoreMVCCRUD.Models.Superhero>

@{
    ViewData["Title"] = "Superhero List <3";
}

<h1>Superhero List </h1>

<p>
    <a asp-action="Add">Add New</a>
</p>

<form asp-controller="Superhero" asp-action="Index">
    <p>
        Buscar: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SuperheroId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editorial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SuperheroId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Power)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editorial)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SuperheroId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SuperheroId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SuperheroId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
